image:
  repository: crakscloudmgmtprd01.azurecr.io/workload-resource-controller
  tag: "2.0"
  pullPolicy: Always
service:
  port: 8080
workloadIdentity:
  clientId: c8a16366-ac70-4af8-9c11-a029ee637ca7
  azureIdentityName: wlid-aks-c4e-prd-weu-01
controller:
  tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
  periodReconcile: 30
  dailyCleanuptime: 18.00 #Make sure to write time in 24hour format and mention as floating value with . and not in :
  maxDelayMinutes: 60
  loggingLevel: INFO
  probes:
    liveness:
      enabled: true
      path: /livez
      initialDelaySeconds: 60
      timeoutSeconds: 30
      periodSeconds: 25
      failureThreshold: 5
  resources:
    limits:
      cpu: "300m"
      memory: "300Mi"
    requests:
      cpu: "200m"
      memory: "200Mi"
  excludedNamespaces:
  - default
  - kube-node-lease
  - kube-public
  - kube-system
  - calico-system
  - gatekeeper-system
  - tigera-operator
  - dataprotection-microsoft
  - ns-platform-cluster-resources
  - ns-platform-external-secrets
  - ns-platform-ingress-nginx
  - twistlock #prismas
  - app-*
  - code-*
  - flux
  - flux-system
  - kube-green
  - headlamp
  - ns-*-devsecops
  - qualys
  concurrency: 10
controllerConfig: |
  vpa:
    updateMode: Auto
    minAllowed:
      cpu: 10m
      memory: 20Mi
    maxAllowed:
      cpu: 2
      memory: 4Gi
  scaledObject:
    minReplicaCount: 2
    maxReplicaCount: 10
    cpuTriggerValue: "80"
securityContext:
  runAsUser: 1001 # Matching UID from Dockerfile
  runAsGroup: 1001 # Matching GID from Dockerfile
  fsGroup: 1001 # Ensures volume mounts are accessible by this group
  allowprivilegedescalation: false
