apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "workload-resource-controller.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "workload-resource-controller.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "workload-resource-controller.name" . }}
    spec:
{{- if .Values.controller.tolerations }}
      tolerations:
{{ toYaml .Values.controller.tolerations | indent 8 }}
{{- end }}
      serviceAccountName: {{ include "workload-resource-controller.serviceAccountName" . }}
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
        fsGroup: {{ .Values.securityContext.fsGroup }}
      containers:
        - name: workload-resource-controller
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          {{- if .Values.controller.probes.liveness.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.controller.probes.liveness.path }}
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.controller.probes.liveness.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.controller.probes.liveness.timeoutSeconds }}
            periodSeconds: {{ .Values.controller.probes.liveness.periodSeconds }}
            failureThreshold: {{ .Values.controller.probes.liveness.failureThreshold }}
          {{- end }}
          env:
            - name: SLEEP_INTERVAL
              value: {{ .Values.controller.periodReconcile | quote }}
            - name: DAILY_CLEANUP_HOUR
              value: "{{ .Values.controller.dailyCleanuptime }}"
            - name: AZURE_CLIENT_ID
              value: {{ .Values.workloadIdentity.clientId | quote }}
            - name: LOG_LEVEL
              value: {{ .Values.controller.loggingLevel | quote }}
            - name: EXCLUDED_NAMESPACES
              value: {{ .Values.controller.excludedNamespaces | join "," | quote }}
            - name: MAX_WORKERS
              value: "{{ .Values.controller.concurrency }}"
            - name: MAX_DELAY_MINUTES
              value: "{{ .Values.controller.maxDelayMinutes }}"
          resources:
            {{- toYaml .Values.controller.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: workload-resource-controller-cm
              mountPath: /app/config
              readOnly: true
      volumes:
        - name: workload-resource-controller-cm
          configMap:
            name: {{ include "workload-resource-controller.fullname" . }}-cm